# Environment Variables
.env

# Dependencies
node_modules/
venv/
env/
__pycache__/
*.pyc

# Local Databases
server/vector_store/
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# Build outputs
client/dist/
client/build/
