fastapi
uvicorn[standard]
python-multipart
sqlalchemy
python-dotenv
pydantic
pypdf
langchain-text-splitters
langchain-community
langchain-google-genai
langchain-core
google-generativeai
chromadb
sentence-transformers
